$card-bg: #333;
$card-color: #fff;
$card-border-width: 0px;
$card-spacer-x: 150px;
$card-spacer-y: 150px;

#principal-section{
    //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), black 100%);
    .skills{
        padding: 50px 0;
        .card{
            background: rgba(0, 0, 0, 0.566); 
            backdrop-filter:blur(1px); 
            min-height: 390px; 
            max-height: 400px;
        }
    }
    .principal{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 20px;
        .title{
            color: #fff;
            text-align: left;
            font-size: 2rem;
            font-weight: bold;
            font-style: italic;
            span{
                color: $main-color;
            }
        }
        .card{
            border: 1px solid #1c1c1c;
            text-align: left;
            padding: 50px;
            .card-title{
                display: inline;
                color: #fff;
                font-size: 1.2rem;
                font-weight: bold;
                font-style: italic;
                transition: 500ms;
            }
            .card-title:hover{
                color: $main-color;
            }
            .card-title-color{
                display: inline;
                color: $main-color;
                font-size: 1.2rem;
                font-weight: bold;
                font-style: italic;
                transition: 500ms;
            }
            .card-title-orange:hover{
                color: #fff;
            }
            .card-text{
                color: #fff;
                font-size: 17px;
            }
            .text-1{
                color:#fff;
                font-size: 19px;
                font-weight: 600;
            }
        }
        img{
            width: 14rem;
            height: 37rem;
            border-radius: 5%;
            transform: perspective(800px) rotateY(-20deg);
            transition: 0.8s;
            z-index: 0;
        }
        img:hover{
            transform: perspective(800px) rotateY(0deg);
        }
    }
}

.img-elab{
    min-height: 370px;
    max-height: 370px;
    min-width: 350px;
    max-width: 350px;
    text-align: center;
    padding: 5px;
}

#recetas-section{
    //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), black 100%);
    .skills{
        padding: 50px 0;
        .card{
            background: rgba(0, 0, 0, 0.566); 
            backdrop-filter:blur(1px); 
            min-height: 390px; 
            max-height: 700px;
        }
    }
}

#elaboracion-section{
    //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), black 100%);
    .skills{
        padding: 50px 0;
        .card{
            background: rgba(0, 0, 0, 0.566); 
            backdrop-filter:blur(1px); 
            min-height: 370px; 
            max-height: 570px;
        }
    }
    .principal{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 100px 0;
        .title{
            color: #fff;
            text-align: left;
            font-size: 2rem;
            font-weight: bold;
            font-style: italic;
            span{
                color: $main-color;
            }
        }
        .card{
            border: 1px solid #1c1c1c;
            text-align: left;
            padding: 50px;
            .card-title{
                display: inline;
                color: #fff;
                font-size: 1.2rem;
                font-weight: bold;
                font-style: italic;
                transition: 500ms;
            }
            .card-title:hover{
                color: $main-color;
            }
            .card-title-color{
                display: inline;
                color: $main-color;
                font-size: 1.2rem;
                font-weight: bold;
                font-style: italic;
                transition: 500ms;
            }
            .card-title-orange:hover{
                color: #fff;
            }
            .card-text{
                color: #fff;
                font-size: 18px;
            }
        }
        img{
            width: 14rem;
            height: 28rem;
            border-radius: 5%;
            transform: perspective(800px) rotateY(-20deg);
            transition: 1s;
            z-index: 0;
        }
        img:hover{
            transform: perspective(800px) rotateY(360deg);
        }
    }
}
.glassmorfism{
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.187);
    backdrop-filter:blur(3px);
}
@media screen and (max-width: 1130){ 
    .img-elab{
        min-height: none;
        max-height: none;
        min-width: none;
        max-width: none;
        text-align: center;
        padding: 5px;
    }
}

@media screen and (max-width: 1024px){ 
    #principal-section{
        .principal{
            .card{
                padding: 50px 20px;
                .card-text{
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (max-width: 991px){ 
    #elaboracion-section{
        .skills{
            padding: 40px 140px;
            padding-top: 40px;
            .card{
                margin-bottom: 75px;
                max-height: 600px;
                text-align: center;
                max-height: 1000px;
                img{
                    padding: 20px;
                }
                h2{
                    text-align: center!important;
                }
            }
        }
    }
}
@media screen and (max-width: 767px){ 
    #elaboracion-section{
        .skills{
            padding: 40px 50px;
            padding-top: 120px;
            .card{
                margin-bottom: 75px;
            }
        }
        .principal{
            .card{
                padding: 20px 25px;
            }
            img{
                width: 9rem;
                height: 25rem;
            }            height: auto;
            padding: 50px 0px 50px 0px;
        }
    }
    #recetas-section{
        //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), black 100%);
        .skills{
            padding: 50px 0;
            .card{
                background: rgba(0, 0, 0, 0.566); 
                backdrop-filter:blur(1px); 
                min-height: 390px; 
                max-height: 700px;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 558px){ 
    #elaboracion-section{
        .skills{
            padding: 40px 0px;
            padding-top: 120px;
            .card{
                max-height: 100%;
                .card-body{
                    padding: 0;
                }
                margin-bottom: 75px;
            }
        }
    }
}

@media screen and (max-width: 375px){ 
    #elaboracion-section{
        .skills{
            padding: 40px 0px;
            padding-top: 120px;
            .card{
                max-height: 100%;
                .card-body{
                    padding: 0;
                }
                margin-bottom: 75px;
            }
        }
    }
}
